toolkit/3.0beta/ogsa/schema/samples/any/any_port_type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Any"
             targetNamespace="http://ogsa.globus.org/samples/any"
             xmlns:tns="http://ogsa.globus.org/samples/any"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

<import location="../../ogsi/ogsi.wsdl"
    namespace="http://www.gridforum.org/namespaces/2003/03/OGSI"/>

<types>
  <xsd:schema targetNamespace="http://ogsa.globus.org/samples/any"
              xmlns:ogsi="http://www.gridforum.org/namespaces/2003/03/OGSI"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="setAny">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="any" type="ogsi:ExtensibilityType"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="setAnyResponse">
      <xsd:complexType/>
    </xsd:element>
    <xsd:element name="getAny">
      <xsd:complexType/>
    </xsd:element>
    <xsd:element name="getAnyResponse">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="any" type="ogsi:ExtensibilityType"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
  </xsd:schema>
</types>

<message name="SetAnyInputMessage">
  <part name="parameters" element="tns:setAny"/>
</message>
<message name="SetAnyOutputMessage">
  <part name="parameters" element="tns:setAnyResponse"/>
</message>
<message name="GetAnyInputMessage">
  <part name="parameters" element="tns:getAny"/>
</message>
<message name="GetAnyOutputMessage">
  <part name="parameters" element="tns:getAnyResponse"/>
</message>

<portType name="AnyPortType">
  <operation name="setAny">
    <input message="tns:SetAnyInputMessage"/>
    <output message="tns:SetAnyOutputMessage"/>
  </operation>
  <operation name="getAny">
    <input message="tns:GetAnyInputMessage"/>
    <output message="tns:GetAnyOutputMessage"/>
  </operation>
</portType>

</definitions>
