toolkit/docs/4.2/4.2.0/techpreview/ogsadai/schema/ogsadai/wsrf/data_service_perform_port_type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (c) International Business Machines Corporation, 20024.--> 
<!-- (c) University of Edinburgh, 2004.                     -->
<!-- See OGSA-DAI-Licence.txt for licencing information.    -->

<definitions 
    targetNamespace="http://ogsadai.org.uk/namespaces/2004/09/wsrf/perform"
    xmlns:tns="http://ogsadai.org.uk/namespaces/2004/09/wsrf/perform"
    xmlns:perform="http://ogsadai.org.uk/namespaces/2004/09/wsrf/perform"
    xmlns:performtypes="http://ogsadai.org.uk/namespaces/2004/09/wsrf/perform/types"
    xmlns:servicetypes="http://ogsadai.org.uk/namespaces/2004/09/service/types" 

    xmlns:servicefaults="http://ogsadai.org.uk/namespaces/2004/09/service/faults"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns="http://schemas.xmlsoap.org/wsdl/">

    <import namespace="http://ogsadai.org.uk/namespaces/2004/09/service/types" 
            location="../types/data_service_types.xsd"/>

    <import namespace="http://ogsadai.org.uk/namespaces/2004/09/service/faults"
            location="../types/data_service_faults.xsd"/>

    <types>

        <xsd:schema targetNamespace="http://ogsadai.org.uk/namespaces/2004/09/wsrf/perform/types" 
                    xmlns:tns="http://ogsadai.org.uk/namespaces/2004/09/wsrf/perform/types" 
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                    elementFormDefault="qualified" 
                    attributeFormDefault="unqualified">

            <xsd:element name="perform">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="performDocument" 
                                     type="servicetypes:ExtensibilityType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="performResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" 
                                     type="servicetypes:ExtensibilityType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>

    </types>

    <!-- DataServicePerform portType messages -->
    <message name="PerformInputMessage">
        <part name="parameters" element="performtypes:perform"/>
    </message>
    <message name="PerformOutputMessage">
        <part name="parameters" element="performtypes:performResponse"/>
    </message>
    <message name="ServiceSystemException">
        <part name="fault" element="servicefaults:serviceSystemException"/>
    </message>
    <message name="ServiceUserException">
        <part name="fault" element="servicefaults:serviceUserException"/>
    </message>
    <message name="ActivitySystemException">
        <part name="fault" element="servicefaults:activitySystemException"/>
    </message> 
    <message name="ActivityUserException">
        <part name="fault" element="servicefaults:activityUserException"/>
    </message>
    <message name="EngineSetupSystemException">
        <part name="fault" element="servicefaults:engineSetupSystemException"/>
    </message>
    <message name="EngineSetupUserException">
        <part name="fault" element="servicefaults:engineSetupUserException"/>
    </message> 
    <message name="ResponseException">
        <part name="fault" element="servicefaults:responseException"/>
    </message>

    <portType name="DataServicePerformPortType">
        <operation name="perform">
            <input message="perform:PerformInputMessage"/>
            <output message="perform:PerformOutputMessage"/>
            <fault name="ServiceUserException" 
                   message="perform:ServiceUserException"/>
            <fault name="ServiceSystemException" 
                   message="perform:ServiceSystemException"/>
            <fault name="EngineSetupUserException" 
                   message="perform:EngineSetupUserException"/>
            <fault name="EngineSetupSystemException" 
                   message="perform:EngineSetupSystemException"/>
            <fault name="ActivityUserException"  
                   message="perform:ActivityUserException"/>
            <fault name="ActivitySystemException" 
                   message="perform:ActivitySystemException"/>
            <fault name="ResponseException" 
                   message="perform:ResponseException"/>
        </operation>
    </portType>

</definitions>
