toolkit/docs/4.2/4.2.0/data/ogsadai/schema/ogsadai/wsrf/data_service_port_type_flattened.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DataService" targetNamespace="http://ogsadai.org.uk/namespaces/2004/09/wsrf" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:tns="http://ogsadai.org.uk/namespaces/2004/09/wsrf" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:dstypes="http://ogsadai.org.uk/namespaces/2004/09/wsrf/service/types" xmlns:gtwsdl="http://www.globus.org/namespaces/2004/01/GTWSDLExtensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:perform="http://ogsadai.org.uk/namespaces/2004/09/wsrf/perform" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:transport="http://ogsadai.org.uk/namespaces/2004/09/wsrf/transport" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://ogsadai.org.uk/namespaces/2004/09/wsrf/transport" location="data_service_transport_port_type.wsdl"/>
  <wsdl:import namespace="http://ogsadai.org.uk/namespaces/2004/09/service/types" location="../types/data_service_types.xsd"/>
  <wsdl:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../../wsrf/properties/WS-ResourceProperties.wsdl"/>
  <wsdl:import namespace="http://ogsadai.org.uk/namespaces/2004/09/service/faults" location="../types/data_service_faults.xsd"/>
  <wsdl:import namespace="http://ogsadai.org.uk/namespaces/2004/09/wsrf/perform" location="data_service_perform_port_type.wsdl"/>
  <wsdl:types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ogsadai.org.uk/namespaces/2004/09/wsrf/service/types" xmlns:tns="http://ogsadai.org.uk/namespaces/2004/09/wsrf/service/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:element name="listResources">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="void" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="listResourcesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="resource" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getVersion">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="getVersionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="version" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="Value" type="xsd:int"/>
            
            <xsd:element name="DataServicePerformRP">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" ref="tns:Value"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ListResourcesOutputMessage">
    <wsdl:part name="parameters" element="dstypes:listResourcesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetVersionOutputMessage">
    <wsdl:part name="parameters" element="dstypes:getVersionResponse"/>
  </wsdl:message>
  <wsdl:message name="GetVersionInputMessage">
    <wsdl:part name="parameters" element="dstypes:getVersion"/>
  </wsdl:message>
  <wsdl:message name="ListResourcesInputMessage">
    <wsdl:part name="parameters" element="dstypes:listResources"/>
  </wsdl:message>
  <wsdl:portType name="DataServicePortType" wsrp:ResourceProperties="dstypes:DataServicePerformRP">
    <wsdl:operation name="listResources">
      <wsdl:input message="tns:ListResourcesInputMessage"/>
      <wsdl:output message="tns:ListResourcesOutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdl:input message="tns:GetVersionInputMessage"/>
      <wsdl:output message="tns:GetVersionOutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="putFully">
      <wsdl:input message="transport:PutFullyInputMessage"/>
      <wsdl:output message="transport:PutOutputMessage"/>
      <wsdl:fault name="ServiceSystemException" message="transport:ServiceSystemException"/>
      <wsdl:fault name="ResponseException" message="transport:ResponseException"/>
      <wsdl:fault name="EngineSetupSystemException" message="transport:EngineSetupSystemException"/>
      <wsdl:fault name="ServiceUserException" message="transport:ServiceUserException"/>
      <wsdl:fault name="ActivitySystemException" message="transport:ActivitySystemException"/>
      <wsdl:fault name="EngineSetupUserException" message="transport:EngineSetupUserException"/>
      <wsdl:fault name="ActivityUserException" message="transport:ActivityUserException"/>
    </wsdl:operation>
    <wsdl:operation name="putBlock">
      <wsdl:input message="transport:PutBlockInputMessage"/>
      <wsdl:output message="transport:PutOutputMessage"/>
      <wsdl:fault name="ServiceSystemException" message="transport:ServiceSystemException"/>
      <wsdl:fault name="ResponseException" message="transport:ResponseException"/>
      <wsdl:fault name="EngineSetupSystemException" message="transport:EngineSetupSystemException"/>
      <wsdl:fault name="ServiceUserException" message="transport:ServiceUserException"/>
      <wsdl:fault name="ActivitySystemException" message="transport:ActivitySystemException"/>
      <wsdl:fault name="EngineSetupUserException" message="transport:EngineSetupUserException"/>
      <wsdl:fault name="ActivityUserException" message="transport:ActivityUserException"/>
    </wsdl:operation>
    <wsdl:operation name="getFully">
      <wsdl:input message="transport:GetFullyInputMessage"/>
      <wsdl:output message="transport:GetOutputMessage"/>
      <wsdl:fault name="ServiceSystemException" message="transport:ServiceSystemException"/>
      <wsdl:fault name="ResponseException" message="transport:ResponseException"/>
      <wsdl:fault name="EngineSetupSystemException" message="transport:EngineSetupSystemException"/>
      <wsdl:fault name="ServiceUserException" message="transport:ServiceUserException"/>
      <wsdl:fault name="ActivitySystemException" message="transport:ActivitySystemException"/>
      <wsdl:fault name="EngineSetupUserException" message="transport:EngineSetupUserException"/>
      <wsdl:fault name="ActivityUserException" message="transport:ActivityUserException"/>
    </wsdl:operation>
    <wsdl:operation name="getBlock">
      <wsdl:input message="transport:GetBlockInputMessage"/>
      <wsdl:output message="transport:GetOutputMessage"/>
      <wsdl:fault name="ServiceSystemException" message="transport:ServiceSystemException"/>
      <wsdl:fault name="ResponseException" message="transport:ResponseException"/>
      <wsdl:fault name="EngineSetupSystemException" message="transport:EngineSetupSystemException"/>
      <wsdl:fault name="ServiceUserException" message="transport:ServiceUserException"/>
      <wsdl:fault name="ActivitySystemException" message="transport:ActivitySystemException"/>
      <wsdl:fault name="EngineSetupUserException" message="transport:EngineSetupUserException"/>
      <wsdl:fault name="ActivityUserException" message="transport:ActivityUserException"/>
    </wsdl:operation>
    <wsdl:operation name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest"/>
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault"/>
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault"/>
    </wsdl:operation>
    <wsdl:operation name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest"/>
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
    </wsdl:operation>
    <wsdl:operation name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest"/>
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
    </wsdl:operation>
    <wsdl:operation name="perform">
      <wsdl:input message="perform:PerformInputMessage"/>
      <wsdl:output message="perform:PerformOutputMessage"/>
      <wsdl:fault name="ServiceSystemException" message="perform:ServiceSystemException"/>
      <wsdl:fault name="ResponseException" message="perform:ResponseException"/>
      <wsdl:fault name="EngineSetupSystemException" message="perform:EngineSetupSystemException"/>
      <wsdl:fault name="ServiceUserException" message="perform:ServiceUserException"/>
      <wsdl:fault name="ActivitySystemException" message="perform:ActivitySystemException"/>
      <wsdl:fault name="EngineSetupUserException" message="perform:EngineSetupUserException"/>
      <wsdl:fault name="ActivityUserException" message="perform:ActivityUserException"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
