toolkit/docs/development/4.1.0/security/authzframe/name_value_type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.globus.org/security/descriptor" elementFormDefault="qualified" xmlns:tns="http://www.globus.org/security/descriptor" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="nameValueType">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="value" type="xs:string" use="required"/>
</xs:complexType>
	
<xs:element name="nameValueParam">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="parameter" type="tns:nameValueType" 
                                maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>
