toolkit/3.0/ogsa/schema/samples/counter/encoded_counter_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://samples.ogsa.globus.org/counter/encoded" 
                  xmlns="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:tns="http://samples.ogsa.globus.org/counter/encoded" 
                  xmlns:counter-types="http://samples.ogsa.globus.org/counter/encoded/types" 
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:gwsdl="http://www.gridforum.org/namespaces/2003/03/gridWSDLExtensions"
                  xmlns:ogsi="http://www.gridforum.org/namespaces/2003/03/OGSI"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
             
<import location="../../ogsi/ogsi.gwsdl"
    namespace="http://www.gridforum.org/namespaces/2003/03/OGSI"/>

  <types>
    <xsd:schema targetNamespace="http://samples.ogsa.globus.org/counter/encoded/types">
      <xsd:complexType name="ArrayOfCounterBatchType">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
              <xsd:attribute ref="soapenc:arrayType" arrayType="counter-types:CounterBatchType[]"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="CounterBatchType">
        <xsd:sequence>
          <xsd:element name="operation" type="xsd:string"/>
          <xsd:element name="val" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CounterBatchStatusType">
        <xsd:sequence>
          <xsd:element name="beforeValue" type="xsd:int"/>
          <xsd:element name="afterValue" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>

                 
  <message name="subtractRequest">
    <part name="val" type="xsd:int"/>
  </message>

  <message name="addRequest">
    <part name="val" type="xsd:int"/>
  </message>

  <message name="subtractResponse">
    <part name="subtractReturn" type="xsd:int"/>
  </message>

  <message name="getValueRequest">
  </message>

  <message name="addResponse">
    <part name="addReturn" type="xsd:int"/>
  </message>

  <message name="getValueResponse">
    <part name="getValueReturn" type="xsd:int"/>
  </message>

  <message name="submitBatchRequest">
    <part name="batch" type="counter-types:ArrayOfCounterBatchType"/>
  </message>
  <message name="submitBatchResponse">
    <part name="submitBatchReturn" type="counter-types:CounterBatchStatusType"/>
  </message>

  <gwsdl:portType name="EncodedCounterPortType" extends="ogsi:GridService"/>
  <portType name="EncodedCounterPortType">
    <operation name="getValue">
      <input message="tns:getValueRequest"/>
      <output message="tns:getValueResponse"/>
    </operation>
    <operation name="add">
      <input message="tns:addRequest"/>
      <output message="tns:addResponse"/>
    </operation>
    <operation name="subtract">
      <input message="tns:subtractRequest"/>
      <output message="tns:subtractResponse"/>
    </operation>
    <operation name="submitBatch">
      <input message="tns:submitBatchRequest"/>
      <output message="tns:submitBatchResponse"/>
    </operation>
  </portType>

  <binding name="EncodedCounterServiceSoapBinding" type="tns:EncodedCounterPortType">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

    <operation name="getValue">
      <wsdlsoap:operation soapAction=""/>
      <input>
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://samples.ogsa.globus.org/counter/encoded" use="encoded"/>
      </input>
      <output>
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://samples.ogsa.globus.org/counter/encoded" use="encoded"/>
      </output>
    </operation>

    <operation name="add">
      <wsdlsoap:operation soapAction=""/>
      <input>
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://samples.ogsa.globus.org/counter/encoded" use="encoded"/>
      </input>
      <output>
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://samples.ogsa.globus.org/counter/encoded" use="encoded"/>
      </output>
    </operation>

    <operation name="subtract">
      <wsdlsoap:operation soapAction=""/>
      <input>
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://samples.ogsa.globus.org/counter/encoded" use="encoded"/>
      </input>
      <output>
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://samples.ogsa.globus.org/counter/encoded" use="encoded"/>
      </output>
    </operation>

    <operation name="submitBatch">
      <wsdlsoap:operation soapAction=""/>
      <input>
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://samples.ogsa.globus.org/counter/encoded" use="encoded"/>
      </input>
      <output>
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://samples.ogsa.globus.org/counter/encoded" use="encoded"/>
      </output>
    </operation>

  </binding>

  <service name="EncodedCounterService">
    <port binding="tns:EncodedCounterServiceSoapBinding" name="EncodedCounterPort">
      <wsdlsoap:address location="http://localhost/ogsa/services/EncodedCounterService"/>
    </port>
  </service>

</definitions>
