toolkit/docs/development/4.1.3/data/ogsadai/schema/ogsadai/wsrf/data_bindings.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DataService" targetNamespace="http://ogsadai.org.uk/namespaces/2004/09/wsrf/bindings" xmlns:porttype="http://ogsadai.org.uk/namespaces/2004/09/wsrf" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://ogsadai.org.uk/namespaces/2004/09/wsrf" location="data_service_port_type_flattened.wsdl"/>
  <wsdl:binding name="DataServicePortTypeSOAPBinding" type="porttype:DataServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listResources">
      <soap:operation soapAction="http://ogsadai.org.uk/namespaces/2004/09/wsrf/DataServicePortType/listResourcesRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <soap:operation soapAction="http://ogsadai.org.uk/namespaces/2004/09/wsrf/DataServicePortType/getVersionRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="putFully">
      <soap:operation soapAction="http://ogsadai.org.uk/namespaces/2004/09/wsrf/DataServicePortType/putFullyRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceSystemException">
        <soap:fault name="ServiceSystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ResponseException">
        <soap:fault name="ResponseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EngineSetupSystemException">
        <soap:fault name="EngineSetupSystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceUserException">
        <soap:fault name="ServiceUserException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ActivitySystemException">
        <soap:fault name="ActivitySystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EngineSetupUserException">
        <soap:fault name="EngineSetupUserException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ActivityUserException">
        <soap:fault name="ActivityUserException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="putBlock">
      <soap:operation soapAction="http://ogsadai.org.uk/namespaces/2004/09/wsrf/DataServicePortType/putBlockRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceSystemException">
        <soap:fault name="ServiceSystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ResponseException">
        <soap:fault name="ResponseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EngineSetupSystemException">
        <soap:fault name="EngineSetupSystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceUserException">
        <soap:fault name="ServiceUserException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ActivitySystemException">
        <soap:fault name="ActivitySystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EngineSetupUserException">
        <soap:fault name="EngineSetupUserException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ActivityUserException">
        <soap:fault name="ActivityUserException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFully">
      <soap:operation soapAction="http://ogsadai.org.uk/namespaces/2004/09/wsrf/DataServicePortType/getFullyRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceSystemException">
        <soap:fault name="ServiceSystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ResponseException">
        <soap:fault name="ResponseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EngineSetupSystemException">
        <soap:fault name="EngineSetupSystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceUserException">
        <soap:fault name="ServiceUserException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ActivitySystemException">
        <soap:fault name="ActivitySystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EngineSetupUserException">
        <soap:fault name="EngineSetupUserException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ActivityUserException">
        <soap:fault name="ActivityUserException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBlock">
      <soap:operation soapAction="http://ogsadai.org.uk/namespaces/2004/09/wsrf/DataServicePortType/getBlockRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceSystemException">
        <soap:fault name="ServiceSystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ResponseException">
        <soap:fault name="ResponseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EngineSetupSystemException">
        <soap:fault name="EngineSetupSystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceUserException">
        <soap:fault name="ServiceUserException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ActivitySystemException">
        <soap:fault name="ActivitySystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EngineSetupUserException">
        <soap:fault name="EngineSetupUserException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ActivityUserException">
        <soap:fault name="ActivityUserException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryResourceProperties">
      <soap:operation soapAction="http://ogsadai.org.uk/namespaces/2004/09/wsrf/DataServicePortType/QueryResourcePropertiesRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidResourcePropertyQNameFault">
        <soap:fault name="InvalidResourcePropertyQNameFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidQueryExpressionFault">
        <soap:fault name="InvalidQueryExpressionFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="QueryEvaluationErrorFault">
        <soap:fault name="QueryEvaluationErrorFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownQueryExpressionDialectFault">
        <soap:fault name="UnknownQueryExpressionDialectFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMultipleResourceProperties">
      <soap:operation soapAction="http://ogsadai.org.uk/namespaces/2004/09/wsrf/DataServicePortType/GetMultipleResourcePropertiesRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidResourcePropertyQNameFault">
        <soap:fault name="InvalidResourcePropertyQNameFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetResourceProperty">
      <soap:operation soapAction="http://ogsadai.org.uk/namespaces/2004/09/wsrf/DataServicePortType/GetResourcePropertyRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidResourcePropertyQNameFault">
        <soap:fault name="InvalidResourcePropertyQNameFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ResourceUnknownFault">
        <soap:fault name="ResourceUnknownFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="perform">
      <soap:operation soapAction="http://ogsadai.org.uk/namespaces/2004/09/wsrf/DataServicePortType/performRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceSystemException">
        <soap:fault name="ServiceSystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ResponseException">
        <soap:fault name="ResponseException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EngineSetupSystemException">
        <soap:fault name="EngineSetupSystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceUserException">
        <soap:fault name="ServiceUserException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ActivitySystemException">
        <soap:fault name="ActivitySystemException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EngineSetupUserException">
        <soap:fault name="EngineSetupUserException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ActivityUserException">
        <soap:fault name="ActivityUserException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
