toolkit/docs/4.2/4.2.1/data/ogsadai/schema/ogsadai/wsrf/data_service_transport_port_type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (c) International Business Machines Corporation, 20024.--> 
<!-- (c) University of Edinburgh, 2004.                     -->
<!-- See OGSA-DAI-Licence.txt for licencing information.    -->

<definitions 
    targetNamespace="http://ogsadai.org.uk/namespaces/2004/09/wsrf/transport"
    xmlns:tns="http://ogsadai.org.uk/namespaces/2004/09/wsrf/transport"
    xmlns:transport="http://ogsadai.org.uk/namespaces/2004/09/wsrf/transport"
    xmlns:transporttypes="http://ogsadai.org.uk/namespaces/2004/09/wsrf/transport/types"
    xmlns:servicetypes="http://ogsadai.org.uk/namespaces/2004/09/service/types" 

    xmlns:servicefaults="http://ogsadai.org.uk/namespaces/2004/09/service/faults"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns="http://schemas.xmlsoap.org/wsdl/">

    <import namespace="http://ogsadai.org.uk/namespaces/2004/09/service/types" 
            location="../types/data_service_types.xsd"/>

    <import namespace="http://ogsadai.org.uk/namespaces/2004/09/service/faults"
            location="../types/data_service_faults.xsd"/>

    <types>

        <xsd:schema targetNamespace="http://ogsadai.org.uk/namespaces/2004/09/wsrf/transport/types" 
                    xmlns:tns="http://ogsadai.org.uk/namespaces/2004/09/wsrf/transport/types" 
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                    elementFormDefault="qualified" 
                    attributeFormDefault="unqualified">
                    
        	<xsd:element name="putFully">
	        	<xsd:complexType>
		        	<xsd:sequence>
			    	    <xsd:element name="id" type="xsd:string"/>
				        <xsd:element name="data" type="servicetypes:ExtensibilityType"/>
			        </xsd:sequence>
		        </xsd:complexType>
    	    </xsd:element>
	    
    	    <xsd:element name="putBlock">
	    	    <xsd:complexType>
		    	    <xsd:sequence>
			    	    <xsd:element name="id" type="xsd:string"/>
				        <xsd:element name="data" type="servicetypes:ExtensibilityType"/>
	    		    </xsd:sequence>
		        </xsd:complexType>
	        </xsd:element>
	    
    	    <xsd:element name="getFully">
	    	    <xsd:complexType>
		    	    <xsd:sequence>
			    	    <xsd:element name="id" type="xsd:string"/>
		    	    </xsd:sequence>
	    	    </xsd:complexType>
    	    </xsd:element>
	
    	    <xsd:element name="getBlock">
	    	    <xsd:complexType>
		    	    <xsd:sequence>
			    	    <xsd:element name="id" type="xsd:string"/>
			        </xsd:sequence>
    		    </xsd:complexType>
	        </xsd:element>
	    
    	    <xsd:element name="putResponse">
	    	    <xsd:complexType>
		    	    <xsd:sequence>
			    	    <xsd:element name="result" type="servicetypes:ExtensibilityType"/>
			        </xsd:sequence>
		        </xsd:complexType>
	        </xsd:element>
	
            <xsd:element name="getResponse">
		        <xsd:complexType>
			        <xsd:sequence>
				        <xsd:element name="result" type="servicetypes:ExtensibilityType"/>
				    </xsd:sequence>
                </xsd:complexType>
	        </xsd:element>

        </xsd:schema>

    </types>

    <!-- DataServiceTransport portType messages -->
    <message name="GetFullyInputMessage">
        <part name="parameters" element="transporttypes:getFully"/>
    </message>
    <message name="GetBlockInputMessage">
        <part name="parameters" element="transporttypes:getBlock"/>
    </message>
    <message name="GetOutputMessage">
        <part name="parameters" element="transporttypes:getResponse"/>
    </message>
    <message name="PutFullyInputMessage">
        <part name="parameters" element="transporttypes:putFully"/>
    </message>
    <message name="PutBlockInputMessage">
        <part name="parameters" element="transporttypes:putBlock"/>
    </message>
    <message name="PutOutputMessage">
        <part name="parameters" element="transporttypes:putResponse"/>
    </message>
    <message name="ServiceSystemException">
        <part name="fault" element="servicefaults:serviceSystemException"/>
    </message>
    <message name="ServiceUserException">
        <part name="fault" element="servicefaults:serviceUserException"/>
    </message>
    <message name="ActivitySystemException">
        <part name="fault" element="servicefaults:activitySystemException"/>
    </message> 
    <message name="ActivityUserException">
        <part name="fault" element="servicefaults:activityUserException"/>
    </message>
    <message name="EngineSetupSystemException">
        <part name="fault" element="servicefaults:engineSetupSystemException"/>
    </message>
    <message name="EngineSetupUserException">
        <part name="fault" element="servicefaults:engineSetupUserException"/>
    </message> 
    <message name="ResponseException">
        <part name="fault" element="servicefaults:responseException"/>
    </message>

    <portType name="DataServiceTransportPortType">
		<operation name="putFully">
			<input message="tns:PutFullyInputMessage"/>
			<output message="tns:PutOutputMessage"/>
            <fault name="ServiceUserException" 
                   message="transport:ServiceUserException"/>
            <fault name="ServiceSystemException" 
                   message="transport:ServiceSystemException"/>
            <fault name="EngineSetupUserException" 
                   message="transport:EngineSetupUserException"/>
            <fault name="EngineSetupSystemException" 
                   message="transport:EngineSetupSystemException"/>
            <fault name="ActivityUserException"  
                   message="transport:ActivityUserException"/>
            <fault name="ActivitySystemException" 
                   message="transport:ActivitySystemException"/>
            <fault name="ResponseException" 
                   message="transport:ResponseException"/>
        </operation>
		<operation name="putBlock">
			<input message="tns:PutBlockInputMessage"/>
			<output message="tns:PutOutputMessage"/>
            <fault name="ServiceUserException" 
                   message="transport:ServiceUserException"/>
            <fault name="ServiceSystemException" 
                   message="transport:ServiceSystemException"/>
            <fault name="EngineSetupUserException" 
                   message="transport:EngineSetupUserException"/>
            <fault name="EngineSetupSystemException" 
                   message="transport:EngineSetupSystemException"/>
            <fault name="ActivityUserException"  
                   message="transport:ActivityUserException"/>
            <fault name="ActivitySystemException" 
                   message="transport:ActivitySystemException"/>
            <fault name="ResponseException" 
                   message="transport:ResponseException"/>
        </operation>
		<operation name="getFully">
			<input message="tns:GetFullyInputMessage"/>
			<output message="tns:GetOutputMessage"/>
            <fault name="ServiceUserException" 
                   message="transport:ServiceUserException"/>
            <fault name="ServiceSystemException" 
                   message="transport:ServiceSystemException"/>
            <fault name="EngineSetupUserException" 
                   message="transport:EngineSetupUserException"/>
            <fault name="EngineSetupSystemException" 
                   message="transport:EngineSetupSystemException"/>
            <fault name="ActivityUserException"  
                   message="transport:ActivityUserException"/>
            <fault name="ActivitySystemException" 
                   message="transport:ActivitySystemException"/>
            <fault name="ResponseException" 
                   message="transport:ResponseException"/>
        </operation>
		<operation name="getBlock">
			<input message="tns:GetBlockInputMessage"/>
			<output message="tns:GetOutputMessage"/>
            <fault name="ServiceUserException" 
                   message="transport:ServiceUserException"/>
            <fault name="ServiceSystemException" 
                   message="transport:ServiceSystemException"/>
            <fault name="EngineSetupUserException" 
                   message="transport:EngineSetupUserException"/>
            <fault name="EngineSetupSystemException" 
                   message="transport:EngineSetupSystemException"/>
            <fault name="ActivityUserException"  
                   message="transport:ActivityUserException"/>
            <fault name="ActivitySystemException" 
                   message="transport:ActivitySystemException"/>
            <fault name="ResponseException" 
                   message="transport:ResponseException"/>
        </operation>
    </portType>

</definitions>
