toolkit/docs/4.2/4.2.1/data/ogsadai/schema/ogsadai/wsrf/data_service_port_type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (c) International Business Machines Corporation, 20024.--> 
<!-- (c) University of Edinburgh, 2004.                     -->
<!-- See OGSA-DAI-Licence.txt for licencing information.    -->

<definitions name="DataService"
    targetNamespace="http://ogsadai.org.uk/namespaces/2004/09/wsrf"
    xmlns:tns="http://ogsadai.org.uk/namespaces/2004/09/wsrf"
    xmlns:dstypes="http://ogsadai.org.uk/namespaces/2004/09/wsrf/service/types"
    xmlns:perform="http://ogsadai.org.uk/namespaces/2004/09/wsrf/perform"
    xmlns:transport="http://ogsadai.org.uk/namespaces/2004/09/wsrf/transport"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:gtwsdl="http://www.globus.org/namespaces/2004/01/GTWSDLExtensions"
    xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
    xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <import location="data_service_perform_port_type.wsdl" 
            namespace="http://ogsadai.org.uk/namespaces/2004/09/wsrf/perform"/>

    <import location="data_service_transport_port_type.wsdl" 
            namespace="http://ogsadai.org.uk/namespaces/2004/09/wsrf/transport"/>

    <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
            location="../../wsrf/properties/WS-ResourceProperties.wsdl" />

    <types>

        <xsd:schema targetNamespace="http://ogsadai.org.uk/namespaces/2004/09/wsrf/service/types" 
                    xmlns:tns="http://ogsadai.org.uk/namespaces/2004/09/wsrf/service/types" 
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                    elementFormDefault="qualified" 
                    attributeFormDefault="unqualified">

            <xsd:element name="listResources">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="void" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="listResourcesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="resource" type="xsd:string" 
                                     minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getVersion">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="getVersionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="version" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="Value" type="xsd:int"/>
            
            <xsd:element name="DataServicePerformRP">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns:Value"        
                                     minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>    
    </types>

    <message name="ListResourcesInputMessage">
        <part name="parameters" element="dstypes:listResources"/>
    </message>

    <message name="ListResourcesOutputMessage">
        <part name="parameters" element="dstypes:listResourcesResponse"/>
    </message>

    <message name="GetVersionInputMessage">
        <part name="parameters" element="dstypes:getVersion"/>
    </message>

    <message name="GetVersionOutputMessage">
        <part name="parameters" element="dstypes:getVersionResponse"/>
    </message>

    <portType name="DataServicePortType"
        gtwsdl:implements="wsrpw:GetResourceProperty 
                           wsrpw:GetMultipleResourceProperties
                           wsrpw:QueryResourceProperties
                           perform:DataServicePerformPortType
                           transport:DataServiceTransportPortType"
        wsrp:ResourceProperties="dstypes:DataServicePerformRP">
        <operation name="listResources">
            <input message="tns:ListResourcesInputMessage" />
            <output message="tns:ListResourcesOutputMessage" />
        </operation>
        <operation name="getVersion">
            <input message="tns:GetVersionInputMessage" />
            <output message="tns:GetVersionOutputMessage" />
        </operation>

    </portType>

</definitions>
