toolkit/3.0beta/ogsa/schema/samples/exception/exception_port_type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Exception"
             targetNamespace="http://ogsa.globus.org/samples/exception"
             xmlns:tns="http://ogsa.globus.org/samples/exception"
             xmlns:ogsi="http://www.gridforum.org/namespaces/2003/03/OGSI"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

<import location="../../ogsi/ogsi.wsdl"
        namespace="http://www.gridforum.org/namespaces/2003/03/OGSI"/>

<types>
  <xsd:schema targetNamespace="http://ogsa.globus.org/samples/exception"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="invokeCustom">
      <xsd:complexType/>
    </xsd:element>
    <xsd:element name="invokeCustomResponse">
      <xsd:complexType/>
    </xsd:element>
    <xsd:element name="invokeGeneric">
      <xsd:complexType/>
    </xsd:element>
    <xsd:element name="invokeGenericResponse">
      <xsd:complexType/>
    </xsd:element>
    <xsd:element name="invokeLocal">
      <xsd:complexType/>
    </xsd:element>
    <xsd:element name="invokeLocalResponse">
      <xsd:complexType/>
    </xsd:element>
    <xsd:element name="chain">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="handle" type="ogsi:HandleType"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="chainResponse">
      <xsd:complexType/>
    </xsd:element>

    <xsd:complexType name="TestFault">
      <xsd:complexContent>
        <xsd:extension base="ogsi:FaultType"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:schema>
</types>

<message name="TestFaultMessage">
  <part name="fault" type="tns:TestFault"/>
</message>
<message name="invokeCustomInputMessage">
  <part name="parameters" element="tns:invokeCustom"/>
</message>
<message name="invokeCustomOutputMessage">
  <part name="parameters" element="tns:invokeCustomResponse"/>
</message>
<message name="invokeGenericInputMessage">
  <part name="parameters" element="tns:invokeGeneric"/>
</message>
<message name="invokeGenericOutputMessage">
  <part name="parameters" element="tns:invokeGenericResponse"/>
</message>
<message name="invokeLocalInputMessage">
  <part name="parameters" element="tns:invokeLocal"/>
</message>
<message name="invokeLocalOutputMessage">
  <part name="parameters" element="tns:invokeLocalResponse"/>
</message>
<message name="chainInputMessage">
  <part name="parameters" element="tns:chain"/>
</message>
<message name="chainOutputMessage">
  <part name="parameters" element="tns:chainResponse"/>
</message>

<portType name="ExceptionPortType">
  <operation name="invokeCustom">
    <input message="tns:invokeCustomInputMessage"/>
    <output message="tns:invokeCustomOutputMessage"/>
    <fault name="Fault" message="ogsi:FaultMessage"/>
    <fault name="TestFault" message="tns:TestFaultMessage"/>
  </operation>
  <operation name="invokeGeneric">
    <input message="tns:invokeGenericInputMessage"/>
    <output message="tns:invokeGenericOutputMessage"/>
    <fault name="Fault" message="ogsi:FaultMessage"/>
  </operation>
  <operation name="invokeLocal">
    <input message="tns:invokeLocalInputMessage"/>
    <output message="tns:invokeLocalOutputMessage"/>
    <fault name="Fault" message="ogsi:FaultMessage"/>
  </operation>
  <operation name="chain">
    <input message="tns:chainInputMessage"/>
    <output message="tns:chainOutputMessage"/>
  </operation>
</portType>

</definitions>
