toolkit/3.2beta/ogsa/schema/tests/complex/NestedService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ogsa.globus.org/tests/complex/nested" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:gridservicesoapbinding="http://www.gridforum.org/namespaces/2003/03/OGSI/bindings" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://ogsa.globus.org/tests/complex/nested" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:import location="../../ogsi/ogsi_bindings.wsdl" namespace="http://www.gridforum.org/namespaces/2003/03/OGSI/bindings"/>
 <wsdl:types>
     <schema targetNamespace="http://ogsa.globus.org/tests/complex/nested" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="InnerClass">
    <sequence>
     <element name="i" type="xsd:int"/>
     <element name="s" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="OuterClass">
    <sequence>
     <element name="IClass" nillable="true" type="tns:InnerClass"/>
     <element name="field" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="callRequest">

      <wsdl:part name="in0" type="tns:OuterClass"/>

   </wsdl:message>

   <wsdl:message name="callResponse">

   </wsdl:message>

   <wsdl:message name="createRequest">

   </wsdl:message>

   <wsdl:message name="createResponse">

      <wsdl:part name="createReturn" type="tns:OuterClass"/>

   </wsdl:message>

   <wsdl:portType name="ServicePortType">

      <wsdl:operation name="create">

         <wsdl:input message="tns:createRequest" name="createRequest"/>

         <wsdl:output message="tns:createResponse" name="createResponse"/>

      </wsdl:operation>

      <wsdl:operation name="call" parameterOrder="in0">

         <wsdl:input message="tns:callRequest" name="callRequest"/>

         <wsdl:output message="tns:callResponse" name="callResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="NestedServiceSoapBinding" type="tns:ServicePortType">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="create">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createRequest">

             <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ogsa.globus.org/tests/complex/nested" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createResponse">

             <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ogsa.globus.org/tests/complex/nested" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="call">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="callRequest">

             <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ogsa.globus.org/tests/complex/nested" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="callResponse">

             <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ogsa.globus.org/tests/complex/nested" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="NestedService">

      <wsdl:port binding="tns:NestedServiceSoapBinding" name="NestedService">

         <wsdlsoap:address location="http://localhost/ogsa/services/NestedService"/>

      </wsdl:port>

      <wsdl:port binding="gridservicesoapbinding:GridServiceSOAPBinding" name="GridServiceSOAPBindingPort"><wsdlsoap:address location="http://localhost/ogsa/services/NestedService"/></wsdl:port>
  </wsdl:service>

</wsdl:definitions>
