toolkit/3.0/ogsa/schema/samples/weather/weather_port_type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Weather"
             targetNamespace="http://ogsa.globus.org/samples/weather"
             xmlns:tns="http://ogsa.globus.org/samples/weather"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:gwsdl="http://www.gridforum.org/namespaces/2003/03/gridWSDLExtensions"
             xmlns:ogsi="http://www.gridforum.org/namespaces/2003/03/OGSI"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">
             
<import location="../../ogsi/ogsi.gwsdl"
        namespace="http://www.gridforum.org/namespaces/2003/03/OGSI"/>

<types>
   <xsd:schema targetNamespace="http://ogsa.globus.org/samples/weather"
              xmlns:tns="http://ogsa.globus.org/samples/weather"
              xmlns:ogsa-types="http://ogsa.gridforum.org/types"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="TempType">
      <xsd:sequence>
        <xsd:element name="temp" type="xsd:float"/>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getTemp">
      <xsd:complexType/>
    </xsd:element>
    <xsd:element name="getTempResponse" type="tns:TempType"/>
    <xsd:element name="setZipCode">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="zipCode" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="setZipCodeResponse" type="tns:TempType"/>
  </xsd:schema>
</types>

<message name="GetTempInputMessage">
 <part name="parameters" element="tns:getTemp"/>
</message>
<message name="GetTempOutputMessage">
 <part name="parameters" element="tns:getTempResponse"/>
</message>
<message name="SetZipCodeInputMessage">
 <part name="parameters" element="tns:setZipCode"/>
</message>
<message name="SetZipCodeOutputMessage">
 <part name="parameters" element="tns:setZipCodeResponse"/>
</message>

<gwsdl:portType name="WeatherPortType" extends="ogsi:GridService"/>
<portType name="WeatherPortType">
  <operation name="getTemp">
    <input message="tns:GetTempInputMessage"/>
    <output message="tns:GetTempOutputMessage"/>
  </operation>
  <operation name="setZipCode">
    <input message="tns:SetZipCodeInputMessage"/>
    <output message="tns:SetZipCodeOutputMessage"/>
  </operation>
</portType>

</definitions>
