toolkit/docs/development/4.1.0/common/cwscore/developer/tutorials/blog/blog.wsdl

<wsdl:definitions 
   name="BlogWSDL" 
   targetNamespace="http://globus.org/blog" 
   xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" 
   xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" 
   xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" 
   xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" 
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" 
   xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:tns="http://globus.org/blog" 
   xmlns="http://schemas.xmlsoap.org/wsdl/">
  
  <wsdl:import 
     namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" 
     location="../../wsrf/notification/WS-BaseN.wsdl"/>
  <wsdl:import 
     namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" 
     location="../../wsrf/lifetime/WS-ResourceLifetime.wsdl"/>
  <wsdl:import 
     namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" 
     location="../../wsrf/properties/WS-ResourceProperties.wsdl"/>

  <wsdl:types>
    <xsd:schema 
       elementFormDefault="qualified" 
       targetNamespace="http://globus.org/blog" 
       xmlns:rpns0="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" 
       xmlns:rpns1="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.xsd" 
       xmlns:tns="http://globus.org/blog" 
       xmlns:xsd="http://www.w3.org/2001/XMLSchema">

      <xsd:import 
         namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.xsd" 
         schemaLocation="../../wsrf/notification/WS-BaseN.xsd"/>

      <xsd:import 
         namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" 
         schemaLocation="../../wsrf/lifetime/WS-ResourceLifetime.xsd"/>

      <xsd:import 
         namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" 
         schemaLocation="../../ws/addressing/WS-Addressing.xsd"/>

      <xsd:element name="createBlogTopic">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Topic" type="xsd:string"/>
            <xsd:element name="Creator" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="createBlogTopicResponse">
        <xsd:complexType>
          <xsd:sequence> 
            <xsd:element ref="wsa:EndpointReference"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="addEntry">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Comment" type="xsd:string"/>
            <xsd:element name="Author"  type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:complexType name="BlogEntryType">
        <xsd:sequence>
          <xsd:element name="Comment"   type="xsd:string"/>
          <xsd:element name="Author"    type="xsd:string"/>
          <xsd:element name="Timestamp" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:element name="addEntryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="BlogEntries" type="tns:BlogEntryType"
                         minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="BlogEntry" type="tns:BlogEntryType"/>
      
      <!-- this is the Blog Resource Property document
           defining the Resource type -->
      <xsd:element name="BlogResourcePropertyDocument">
        <xsd:complexType>
          <xsd:sequence>

            <!-- the main Blog Resource Property -->
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="tns:BlogEntry"/>
            
            <!-- these RPs are inherited from WS-ResourceLifetime -->
            <xsd:element maxOccurs="1" minOccurs="1" ref="rpns0:CurrentTime"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="rpns0:TerminationTime"/>
            <!-- these RPs are inherited from WS-BaseN -->
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="rpns1:Topic"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="rpns1:FixedTopicSet"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="rpns1:TopicExpressionDialects"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="CreateBlogRequest">
    <wsdl:part name="request" element="tns:createBlogTopic"/>
  </wsdl:message>
  <wsdl:message name="AddInputMessage">
    <wsdl:part name="parameters" element="tns:addEntry"/>
  </wsdl:message>
  <wsdl:message name="CreateBlogResponse">
    <wsdl:part name="response" element="tns:createBlogTopicResponse"/>
  </wsdl:message>
  <wsdl:message name="AddOutputMessage">
    <wsdl:part name="parameters" element="tns:addEntryResponse"/>
  </wsdl:message>

  <wsdl:portType name="Blog" 
                 wsrp:ResourceProperties="tns:BlogResourcePropertyDocument">

    <!-- this is the Blog resource factory -->
    <wsdl:operation name="createBlogTopic">
      <wsdl:input message="tns:CreateBlogRequest"/>
      <wsdl:output message="tns:CreateBlogResponse"/>
    </wsdl:operation>

    <!-- this is the Blog addEntry operation -->
    <wsdl:operation name="addEntry">
      <wsdl:input message="tns:AddInputMessage"/>
      <wsdl:output message="tns:AddOutputMessage"/>
    </wsdl:operation>

    <!-- this operation is inherited from WS-ResourceProperties -->
    <wsdl:operation name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty"/>
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse"/>
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
    </wsdl:operation>

    <!-- these operations are inherited from WS-BaseN -->
    <wsdl:operation name="Subscribe">
      <wsdl:input message="wsntw:SubscribeRequest" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/Subscribe"/>
      <wsdl:output message="wsntw:SubscribeResponse" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/SubscribeResponse"/>
      <wsdl:fault name="TopicPathDialectUnknownFault" message="wsntw:TopicPathDialectUnknownFault"/>
      <wsdl:fault name="SubscribeCreationFailedFault" message="wsntw:SubscribeCreationFailedFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsntw:ResourceUnknownFault"/>
    </wsdl:operation>

    <wsdl:operation name="GetCurrentMessage">
      <wsdl:input message="wsntw:GetCurrentMessageRequest" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/GetCurrentMessage"/>
      <wsdl:output message="wsntw:GetCurrentMessageResponse" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/GetCurrentMessageResponse"/>
      <wsdl:fault name="NoCurrentMessageOnTopicFault" message="wsntw:NoCurrentMessageOnTopicFault"/>
      <wsdl:fault name="TopicNotSupportedFault" message="wsntw:TopicNotSupportedFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsntw:ResourceUnknownFault"/>
      <wsdl:fault name="InvalidTopicExpressionFault" message="wsntw:InvalidTopicExpressionFault"/>
    </wsdl:operation>

    <!-- these operations are inherited from WS-ResourceLifetime -->
    <wsdl:operation name="Destroy">
      <wsdl:input message="wsrlw:DestroyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/Destroy"/>
      <wsdl:output message="wsrlw:DestroyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/DestroyResponse"/>
      <wsdl:fault name="ResourceNotDestroyedFault" message="wsrlw:ResourceNotDestroyedFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrlw:ResourceUnknownFault"/>
    </wsdl:operation>

    <wsdl:operation name="SetTerminationTime">
      <wsdl:input message="wsrlw:SetTerminationTimeRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTime"/>
      <wsdl:output message="wsrlw:SetTerminationTimeResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTimeResponse"/>
      <wsdl:fault name="UnableToSetTerminationTimeFault" message="wsrlw:UnableToSetTerminationTimeFault"/>
      <wsdl:fault name="TerminationTimeChangeRejectedFault" message="wsrlw:TerminationTimeChangeRejectedFault"/>
      <wsdl:fault name="ResourceUnknownFault" message="wsrlw:ResourceUnknownFault"/>
    </wsdl:operation>

  </wsdl:portType>
</wsdl:definitions>
