toolkit/3.2beta/ogsa/schema/samples/extension/counter_multiply_port_type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="CounterMultiplyDefinition"
             targetNamespace="http://samples.ogsa.globus.org/extension/counter_multiply_port_type"
             xmlns:tns="http://samples.ogsa.globus.org/extension/counter_multiply_port_type"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<types>
  <xsd:schema targetNamespace="http://samples.ogsa.globus.org/extension/counter_multiply_port_type"
              xmlns:tns="http://samples.ogsa.globus.org/extension/counter_multiply_port_type"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="ValueType">
      <xsd:sequence>
        <xsd:element name="value" type="xsd:int"/>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReturnValueType">
      <xsd:sequence>
        <xsd:element name="result" type="xsd:int"/>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="add" type="tns:ValueType"/>
    <xsd:element name="addResponse" type="tns:ReturnValueType"/>
    <xsd:element name="subtract" type="tns:ValueType"/>
    <xsd:element name="subtractResponse" type="tns:ReturnValueType"/>
    <xsd:element name="getValue">
      <xsd:complexType/>
    </xsd:element>
    <xsd:element name="getValueResponse" type="tns:ReturnValueType"/>
    <xsd:element name="multiply" type="tns:ValueType"/>
    <xsd:element name="multiplyResponse" type="tns:ReturnValueType"/>
  </xsd:schema>
</types>


<message name="AddInputMessage">
  <part name="parameters" element="tns:add"/>
</message>
<message name="AddOutputMessage">
  <part name="parameters" element="tns:addResponse"/>
</message>
<message name="SubtractInputMessage">
  <part name="parameters" element="tns:subtract"/>
</message>
<message name="SubtractOutputMessage">
  <part name="parameters" element="tns:subtractResponse"/>
</message>
<message name="GetValueInputMessage">
  <part name="parameters" element="tns:getValue"/>
</message>
<message name="GetValueOutputMessage">
  <part name="parameters" element="tns:getValueResponse"/>
</message>
<message name="MultiplyInputMessage">
  <part name="parameters" element="tns:multiply"/>
</message>
<message name="MultiplyOutputMessage">
  <part name="parameters" element="tns:multiplyResponse"/>
</message>

<portType name="CounterMultiplyPortType">
  <operation name="add">
    <input message="tns:AddInputMessage"/>
    <output message="tns:AddOutputMessage"/>
  </operation>
  <operation name="subtract">
    <input message="tns:SubtractInputMessage"/>
    <output message="tns:SubtractOutputMessage"/>
  </operation>
  <operation name="getValue">
    <input message="tns:GetValueInputMessage"/>
    <output message="tns:GetValueOutputMessage"/>
  </operation>
  <operation name="multiply">
    <input message="tns:MultiplyInputMessage"/>
    <output message="tns:MultiplyOutputMessage"/>
  </operation>
</portType>

</definitions>
